*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
}

img{
    width: 100%;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

.navbar{
    box-shadow: 0px 4px 20px 0px #0000001A;

}

.navbar .container{
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.nav_text{
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.nav_list{
    display: flex;
    align-items: center;
}

.nav_link{
    margin: 0 15px;
    color: black;
    transition: .3s;
}

.nav_link:hover{
    color: #00BAFC;
}

.navbar_link{
    color: black;
    border:  solid 1px rgba(0, 0, 0, 0.13);
    padding: 7px 15px;
    border-radius: 7px;
    transition: .3s;
}

.navbar_link:hover{
    background-color: #00BAFC;
    color: white;
}


@media (max-width: 1160px){
    .container{
        width: 1000px;
        margin: 0 auto;
    }
}
@media (max-width: 1020px){
    .container{
        width: 900px;
        margin: 0 auto;
    }
}
@media (max-width: 920px){
    .container{
        width: 800px;
        margin: 0 auto;
    }

    .nav_text{
        font-size: 25px;
    }

    .nav_link{
        font-size: 18px;

    }
}

@media (max-width: 820px){
    .container{
        width: 700px;
        margin: 0 auto;
    }  

    .nav_text{
        font-size: 20px;
    }

    .nav_link{
        font-size: 15px;
        margin: 7px 10px;
    }
    
    .navbar_link{
        font-size: 15px;
        padding: 7px 15px;
    }
}

@media (max-width: 720px){
    .container{
        width: 600px;
        margin: 0 auto;
    }

    .nav_text{
        font-size: 20px;
    }

    .nav_link{
        font-size: 14px;
        margin: 8px 10px;
    }
    
    .navbar_link{
        font-size: 14px;
        padding: 5px 10px;
    }
}

@media (max-width: 620px){
    .container{
        width: 500px;
        margin: 0 auto;
    }

    .nav_text{
        font-size: 18px;
    }

    .nav_link{
        font-size: 12px;
        margin: 8px 5px;
    }
    
    .navbar_link{
        font-size: 12px;
        padding: 5px 5px;
    }
}

@media (max-width: 520px){
    .container{
        width: 90%;
        margin: 0 auto;
    }

    .nav_text{
        font-size: 18px;
    }

    .nav_link{
        font-size: 10px;
        margin: 8px 7px;
    }
    
    .navbar_link{
        font-size: 10px;
        padding: 5px 7px;
    }
}

.main .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;
}

.main_text{
    font-size: 45px;
    color: black;
    margin-bottom: 20px;
}

.main_suptext{
    font-size: 20px;
    width: 70%;
    line-height: 25px;
    margin-bottom: 22px;
}

.main_link{
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.123);
    padding: 7px 18px;
    transition: .3s;
    border-radius: 7px;
}

.main_link:hover{
    color: white;
    background-color: #00BAFC;
}

.main_video{
    width: 400px;
    height: 280px;
    border-radius: 5px;
}

@media (max-width: 1160px){
    .container{
        width: 1000px;
        margin: 0 auto;
    }

    .main_text{
        font-size: 40px;
        margin-bottom: 20px;
    }
    
    .main_suptext{
        font-size: 20px;
        width: 80%;
        line-height: 25px;
        margin-bottom: 22px;
    }
    
    .main_link{
        padding: 7px 18px;
        transition: .3s;
        border-radius: 7px;
    }

    .main_video{
        width: 360px;
        height: 260px;
        border-radius: 5px;
    }

}
@media (max-width: 1020px){
    .container{
        width: 900px;
        margin: 0 auto;
    }

    .main_text{
        font-size: 35px;
        margin-bottom: 18px;
    }
    
    .main_suptext{
        font-size: 18px;
        width: 85%;
        line-height: 25px;
        margin-bottom: 18px;
    }
    
    .main_link{
        font-size: 15px;
        padding: 7px 18px;
        transition: .3s;
        border-radius: 7px;
    }

    .main_video{
        width: 340px;
        height: 240px;
        border-radius: 5px;
    }

}
@media (max-width: 920px){
    .container{
        width: 800px;
        margin: 0 auto;
    }

    .main .container{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .main_text{
        font-size: 35px;
        margin-bottom: 18px;
    }
    
    .main_suptext{
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 18px;
        margin-left: 65px;
    }
    
    .main_link{
        font-size: 15px;
        padding: 7px 18px;
        transition: .3s;
        border-radius: 7px;
        margin-bottom: 30px;
    }

    .main_video{
        width: 800px;
        height: 500px;
        border-radius: 5px;
    }
}

@media (max-width: 820px){
    .container{
        width: 700px;
        margin: 0 auto;
    }   

    .main_text{
        width: 70%;
        font-size: 35px;
        margin-bottom: 15px;
        margin-left: 120px;
    }
    
    .main_suptext{
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 18px;
        margin-left: 65px;
    }
    
    .main_link{
        font-size: 15px;
        padding: 7px 15px;
        transition: .3s;
        border-radius: 7px;
        margin-bottom: 30px;
        margin-left: 40px;
    }

    .main_video{
        width: 700px;
        height: 350px;
        border-radius: 5px;
    }
}

@media (max-width: 720px){
    .container{
        width: 600px;
        margin: 0 auto;
    }

    .main_text{
        width: 70%;
        font-size: 35px;
        margin-bottom: 15px;
        margin-left: 100px;
    }
    
    .main_suptext{
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 18px;
        margin-left: 65px;
        margin-left: 50px;
    }
    
    .main_link{
        font-size: 15px;
        padding: 7px 15px;
        transition: .3s;
        border-radius: 7px;
        margin-bottom: 30px;
        margin-left: 40px;
    }

    .main_video{
        width: 600px;
        height: 350px;
        border-radius: 5px;
    }
}

@media (max-width: 620px){
    .container{
        width: 500px;
        margin: 0 auto;
    }

    .main_text{
        width: 70%;
        font-size: 25px;
        margin-bottom: 10px;
        margin-left: 90px;
    }
    
    .main_suptext{
        font-size: 15px;
        line-height: 22px;
        margin-bottom: 15px;
        margin-left: 50px;
    }
    
    .main_link{
        font-size: 14px;
        padding: 5px 10px;
        transition: .3s;
        border-radius: 7px;
        margin-bottom: 30px;
        margin-left: 40px;
    }

    .main_video{
        width: 500px;
        height: 300px;
        border-radius: 5px;
        margin-left: 40px;
    }
}

@media (max-width: 520px){
    .container{
        width: 90%;
        margin: 0 auto;
    }

    .main_text{
        width: 70%;
        font-size: 25px;
        margin-bottom: 10px;
        margin-left: 90px;
    }
    
    .main_suptext{
        font-size: 15px;
        line-height: 22px;
        margin-bottom: 15px;
        margin-left: 50px;
    }
    
    .main_link{
        font-size: 14px;
        padding: 5px 10px;
        transition: .3s;
        border-radius: 7px;
        margin-bottom: 30px;
        margin-left: 40px;
    }

    .main_video{
        width: 400px;
        height: 200px;
        border-radius: 5px;
        margin-left: 40px;
    }
}

.omega{
    text-align: center;
    margin-bottom: 100px;
}

.omega_text{
    text-align: center;
    font-size: 55px;
    margin-bottom: 20px;
}

.omega_suptext{
    text-align: center;
    font-size: 20px;
    width: 75%;
    margin-left: 80px;
    margin-bottom: 30px;
}

.omega_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin-bottom: 30px;
    margin-left: 70px;
}

.omega_item{
    background: #FFFFFF;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    text-align: center;
}

.omega__item{
    background: #FFFFFF;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    text-align: center;
}

.omega_photo{
    width: 200px;
}

.omega_box{
    text-align: center;
}

.omega_link{
    color: black;
    margin: 15px;
    border: 1px solid rgba(0, 0, 0, 0.11);
    padding: 7px 10px;
    border-radius: 7px;
    transition: .3s;
}

.omega_link:hover{
    background-color: #00BAFC;
    color: white;
}

@media (max-width: 1160px){
    .container{
        width: 1000px;
        margin: 0 auto;
    }

    .omega_text{
        font-size: 55px;
        margin-bottom: 20px;
    }
    
    .omega_suptext{
        font-size: 20px;
        width: 75%;
        margin-left: 80px;
        margin-bottom: 30px;
    }

    .omega_list{
        margin-bottom: 30px;
        margin-left: 60px;
    }
}
@media (max-width: 1020px){
    .container{
        width: 900px;
        margin: 0 auto;
    }

    .omega_text{
        font-size: 45px;
        margin-bottom: 10px;
    }

.omega_suptext{
    font-size: 20px;
    width: 85%;
    margin-left: 80px;
    margin-bottom: 30px;
}

.omega_list{
    margin-bottom: 30px;
    margin-left: 50px;
}
   
.omega_link{
    margin: 15px;
    padding: 7px 10px;
}      
}
@media (max-width: 920px){
    .container{
        width: 800px;
        margin: 0 auto;
    }

    .omega_text{
        font-size: 45px;
        margin-bottom: 10px;
    }

    .omega_suptext{
        font-size: 20px;
        width: 85%;
        margin-left: 80px;
        margin-bottom: 30px;
    }

    .omega_list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 80%;
        margin-bottom: 30px;
        margin-left: 70px;
    }
    
    .omega_item{
        border-radius: 5px;
        padding: 10px 20px;
        margin: 10px;
    }
    
    .omega__item{
        border-radius: 5px;
        padding: 10px 20px;
        margin: 10px;
    }
    
    .omega_photo{
        width: 200px;
    }
}

@media (max-width: 820px){
    .container{
        width: 700px;
        margin: 0 auto;
    }  

    .omega_text{
        font-size: 45px;
        margin-bottom: 10px;
    }

    .omega_suptext{
        font-size: 18px;
        width: 75%;
        margin-left: 80px;
        margin-bottom: 30px;
    }

    .omega_list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 80%;
        margin-bottom: 30px;
        margin-left: 70px;
    }
    
    .omega_item{
        border-radius: 5px;
        padding: 10px 20px;
        margin: 10px;
    }
    
    .omega__item{
        border-radius: 5px;
        padding: 10px 20px;
        margin: 10px;
    }
    
    .omega_photo{
        width: 200px;
    }

    .omega_nam{
        font-size: 22px;
    }

    .omega_massa{
        font-size: 15px;
    }
}

@media (max-width: 720px){
    .container{
        width: 600px;
        margin: 0 auto;
    }

    .omega_text{
        font-size: 45px;
        margin-bottom: 10px;
    }

    .omega_suptext{
        font-size: 18px;
        width: 75%;
        margin-left: 80px;
        margin-bottom: 30px;
    }

    .omega_list{
        flex-direction: column;
        width: 80%;
        margin-bottom: 30px;
        margin-left: 70px;
    }
    
    .omega_item{
        border-radius: 5px;
        padding: 10px 20px;
        margin: 10px;
    }
    
    .omega__item{
        border-radius: 5px;
        padding: 10px 20px;
        margin: 10px;
    }
    
    .omega_photo{
        width: 200px;
    }

    .omega_nam{
        font-size: 22px;
    }

    .omega_massa{
        font-size: 15px;
    }
}

@media (max-width: 620px){
    .container{
        width: 500px;
        margin: 0 auto;
    }

    .omega_text{
        font-size: 35px;
        margin-bottom: 10px;
        margin-left: 60px;
    }

    .omega_suptext{
        font-size: 15px;
        width: 85%;
        margin-left: 70px;
        margin-bottom: 30px;
    }

    .omega_list{
        flex-direction: column;
        width: 80%;
        margin-bottom: 30px;
        margin-left: 70px;
    }
    
    .omega_item{
        border-radius: 5px;
        padding: 10px 20px;
        margin: 10px;
    }
    
    .omega__item{
        border-radius: 5px;
        padding: 10px 20px;
        margin: 10px;
    }
    
    .omega_photo{
        width: 200px;
    }

    .omega_nam{
        font-size: 22px;
    }

    .omega_massa{
        font-size: 15px;
    }
}

@media (max-width: 520px){
    .container{
        width: 90%;
        margin: 0 auto;
    }

    .omega_text{
        font-size: 30px;
        margin-bottom: 10px;
        margin-left: 50px;
    }

    .omega_suptext{
        font-size: 13px;
        width: 85%;
        margin-left: 50px;
        margin-bottom: 20px;
        line-height: 22px;
    }

    .omega_list{
        flex-direction: column;
        width: 80%;
        margin-bottom: 30px;
        margin-left: 55px;
    }
    
    .omega_item{
        border-radius: 5px;
        padding: 10px 20px;
        margin: 10px;
    }
    
    .omega__item{
        border-radius: 5px;
        padding: 10px 20px;
        margin: 10px;
    }
    
    .omega_photo{
        width: 200px;
    }

    .omega_nam{
        font-size: 18px;
    }

    .omega_massa{
        font-size: 13px;
    }
}

.new_photo{
    width: 200px;
}

.new{
    margin-bottom: 100px;
}

.new_text{
    font-size: 55px;
    text-align: center;
    margin-bottom: 20px;
}

.new_suptext{
    font-size: 22px;
    text-align: center;
    line-height: 32px;
    margin-bottom: 50px;
}

.new_lits{
    margin-left: 10px;
}

.new_item{
    text-align: center;
    margin: 60px 0;
}

.new_box{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.new_title{
    text-align: left;
}

.eget_text{
    font-size: 30px;
    color: black;
    margin-bottom: 10px;
}

.eget_suptext{
    font-size: 18px;
    width: 60%;
    color: rgba(0, 0, 0, 0.822);
    line-height: 28px;
}

.new_photo{
    width: 300px;
}

@media (max-width: 1160px){
    .container{
        width: 1000px;
        margin: 0 auto;
    }

    .new_text{
        font-size: 45px;
        margin-bottom: 20px;
    }
    
    .new_suptext{
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 50px;
    }
    
    .eget_text{
        font-size: 25px;
        margin-bottom: 10px;
    }
    
    .eget_suptext{
        font-size: 16px;
        width: 60%;
        line-height: 22px;
    }
    
    .new_photo{
        width: 280px;
    }
}
@media (max-width: 1020px){
    .container{
        width: 900px;
        margin: 0 auto;
    }

    .new_text{
        font-size: 45px;
        margin-bottom: 20px;
    }
    
    .new_suptext{
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 50px;
    }
    
    .eget_text{
        font-size: 25px;
        margin-bottom: 10px;
    }
    
    .eget_suptext{
        font-size: 16px;
        width: 60%;
        line-height: 22px;
    }
    
    .new_photo{
        width: 280px;
    }
}
@media (max-width: 920px){
    .container{
        width: 800px;
        margin: 0 auto;
    }
}

@media (max-width: 820px){
    .container{
        width: 700px;
        margin: 0 auto;
    }

    .new_text{
        font-size: 37px;
        margin-bottom: 20px;
    }
    
    .new_suptext{
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 50px;
    }
    
    .eget_text{
        font-size: 22px;
        margin-bottom: 10px;
    }
    
    .eget_suptext{
        font-size: 16px;
        width: 60%;
        line-height: 20px;
    }
    
    .new_photo{
        width: 250px;
    }
}

@media (max-width: 720px){
    .container{
        width: 600px;
        margin: 0 auto;
    }

    .new_text{
        font-size: 32px;
        margin-bottom: 10px;
    }
    
    .new_suptext{
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 50px;
    }
    
    .eget_text{
        font-size: 22px;
        margin-bottom: 10px;
    }
    
    .eget_suptext{
        font-size: 16px;
        width: 60%;
        line-height: 20px;
    }
    
    .new_photo{
        width: 250px;
    }
}

@media (max-width: 620px){
    .container{
        width: 500px;
        margin: 0 auto;
    }

    .new_text{
        font-size: 28px;
        margin-bottom: 10px;
    }
    
    .new_suptext{
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 50px;
    }
    
    .eget_text{
        font-size: 18px;
        margin-bottom: 7px;
    }
    
    .eget_suptext{
        font-size: 14px;
        width: 70%;
        line-height: 20px;
    }
    
    .new_photo{
        width: 220px;
    }
}

@media (max-width: 520px){
    .container{
        width: 90%;
        margin: 0 auto;
    }

    .new_text{
        font-size: 28px;
        margin-bottom: 10px;
    }
    
    .new_suptext{
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 50px;
    }
    
    .eget_text{
        font-size: 18px;
        margin-bottom: 7px;
    }
    
    .eget_suptext{
        font-size: 12px;
        width: 70%;
        line-height: 15px;
    }
    
    .new_photo{
        width: 150px;
    }
}